/* Add margin on top to give space at top of page between container */

.jumbotron {
 margin-top: 2%;
}

.display-1 {
 font-weight: bold;
}

/* https://coolors.co/000f08-1c3738-4d4847-f4fff8-8baaad */

body {
 font-family: Arial, Helvetica, sans-serif;
 background-color: rgba(8, 8, 8, 0.274);
 font-family: 'Blinker', sans-serif;
}

.card {
 background-color: #716867;
 color: white;
 padding: 5%;
 margin: 2%;
}

.card-header {
 color: white;
 background-color: #716867;
}

#password {
 text-align: center;
 padding: 5%;
 width: 75%;
 resize: vertical;
 background-color: rgba(255, 255, 255, 0.788);
}

#password::-webkit-input-placeholder {
 color: rgb(109, 50, 75);
 font-size: larger;
}

.card-footer {
 background-color: #716867;
}

.btn {
 background-color: rgb(109, 50, 75);
 color: white;
 margin: 0.5%;
}

@media (max-width: 690px) {
 .btn {
  font-size: 1rem;
  margin: 16px 0px 0px 0px;
  padding: 10px 15px;
 }
 #password {
  font-size: 1rem;
 }
}

@media (max-width: 500px) {
 .btn {
  font-size: 0.8rem;
 }
}